.active {
    background-color: rgb(0, 255, 8);
}

.non_active {
    background-color: rgb(255, 0, 0);
}

#test {
    width: 45px;
    height: 45px;
}

#one {
    cursor: pointer;
    color: rgb(196, 47, 47);
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
}